:host {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 52px;
}

.header-sns {
  z-index: 30;
  display: flex;
  align-items: center; /* 縦方向中央揃え */
  height: 52px;
  filter: grayscale(100%);
  transition: all 0.2s;

  &:hover {
    filter: grayscale(0%);
  }
}

.fb-like {
  position: relative;
  top: 4px;
}
