<div class="topPage">
  <nav class="my-navi">
    <div class="header-h1-top">
      <h1 [@animateStateH1]="viewInited">ClockMaker Labs</h1>
    </div>
    <!--<app-header-author></app-header-author>-->
  </nav>

  <div class="main-content">
    <h2 class="sub-title">
      <strong>Interaction Design &times; Web Technology</strong><br />
      <small>https://clockmaker.jp/labs/</small>
    </h2>


    <div class="my-hero">
      <div class="my-main-area">
        <div id="contentListHTML5" class="my-main-area-row">
          <app-list-item
               *ngFor="let dataItem of itemDataList"
               [data]="dataItem"
               class="list-item"
          ></app-list-item>
        </div>
      </div>
    </div>
  </div>

  <app-site-footer meta="This website is build with Angular 15."></app-site-footer>
</div>
