.item {
  padding: 2px;
  margin-bottom: 10px;
  font-family: 'Ropa Sans', sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;


  .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a, a:hover, a:visited, a:active {
    text-decoration: none;
  }

  .meta {
    a, a:visited {
      color: #888;
    }

    a:hover .title {
      color: #FFF;
    }
  }

  .imgContainer {

    width: 100%;
    height: 0;
    padding-top: calc(100% * 200 / 460);
    overflow: hidden;
    position: relative;

    border: 1px solid rgba(255, 255, 255, 0.0);
    -webkit-transition: border-color 0.5s ease-out;
    transition: border-color 0.5s ease-out;

    img {
      position: absolute;
      top: 0;
      max-width: 100%;
      height: auto;

      &.show {
        //visibility: hidden;
      }
    }
  }

  .show {
    .imgContainer {
      border: 1px solid rgba(255, 255, 255, 1.0);
      -webkit-transition: border-color 0.15s ease-out;
      transition: border-color 0.15s ease-out;
    }
  }

  div.thumb {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .thumb .meta {
    margin-top: 1px;
  }
  .thumb .meta:before {
    content: "";
    width: 0%;
    height: 1.0rem;
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    transition: all 1.2s cubic-bezier(1, 0, 1, 0.5);
  }
  .thumb:hover .meta:before {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s cubic-bezier(0, 0, 0, 1);
  }

  .imgRollOver {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #fff;
    mix-blend-mode: hard-light;
    opacity: 0.0;

    animation-duration: 1.0s;
    animation-name: slowout;
  }
  .show .imgRollOver {
    opacity: 0.1;
    animation-duration: 0.5s;
    animation-name: slidein;
  }

  @keyframes slidein {
    0% {
      opacity: 0.0;
    }

    5% {
      opacity: 0.7;
    }

    100% {
      opacity: 0.1;
    }
  }
  @keyframes slowout {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.0;
    }
  }

  .title {
    color: #999;
    font-size: 0.8rem;
    position: relative;
    transition: left 0.2s;
  }
  .show .title {
    left: 2px;
    color: #FFF;
  }
  .date {
    color: #999;
    font-size: 0.7rem;
    position: relative;
    transition: left 0.2s;
  }
  .show .date {
    left: 2px;
    color: #FFF;
  }

  a.btnLink {

    display: inline-block;
    cursor: pointer;
    color : #666;
    border: 1px solid #333;
    padding: 0 3px;
    font-size: 0.7rem;

    transition: all 1.0s;

    &:hover {
      color: #000;
      background: #fff;
      border: 1px solid #fff;
      transition: all 0.05s;
    }
  }
}