footer {
  color: #999;
  height: 32px;
  width: 100%;
  position: fixed;
  background: #333;
  bottom: 0;
  left: 0;
  text-align: right;
  line-height: 32px;
  padding-right: 15px;
  font-family: 'Ropa Sans', sans-serif;

  z-index: 20;

  .created {
    margin-right: 1em;
  }

  a {
    &, &:visited {
      color: #CCC;
    }
    &:hover {
      color: #FFF;
    }
    &:active {
      color: #DDD;
    }
  }
}

