<div class="detail-page" [ngClass]="{showing: playingTransition === true}">
  <div *ngIf="data" [ngClass]="{show : !isLoading}">
    <nav class="detail-page-navi">
      <div class="detail-page-navi-navigation">
        <div class="btn-back" (mouseenter)="onRollOver()" (click)="onClick()">
          <i class="fa fa-th"></i><span class="btn-label-prev">TOP</span>
        </div>

        <div
          class="btn-back"
          (mouseenter)="onRollOver()"
          (click)="onClickPrev()"
        >
          <i class="fa fa-chevron-left"></i
          ><span class="btn-label-prev">PREV</span>
        </div>
        <div
          class="btn-back"
          (mouseenter)="onRollOver()"
          (click)="onClickNext()"
        >
          <span class="btn-label-next">NEXT</span
          ><i class="fa fa-chevron-right"></i>
        </div>
      </div>
      <div *ngIf="isLoading" class="loading">
        <i class="fa fa-refresh"></i> Now Loading...
      </div>

      <h1 class="header-detail-h1" [@animateStateH1]="transitionState">
        {{data.title}}
        <div>
          <span class="content-type">{{data.type}}</span>
        </div>
      </h1>
    </nav>

    <div
      class="main-content"
      [@transitionState]="transitionState"
      [@routerTransition]="transitionState"
    >
      <iframe
        [src]="iframeUrl"
        (load)="onLoad()"
        width="100%"
        height="100%"
      ></iframe>
    </div>

    <app-site-footer
      meta="{{data.date}} - This work is build with {{data.technology.join(', ')}}."
    >
    </app-site-footer>
  </div>
</div>
