.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: grid;
  grid-template: '. author .' auto / auto 1fr auto;
  gap: 8px;
  place-content: center;
  width: 100%;
  min-height: 32px;
  padding-right: 16px;
  padding-left: 8px;
  font-size: 0.75rem;
  color: #999;
  text-align: right;
  background: #333;

  @media (width < 768px) {
    position: static;
    display: block;
    text-align: center;
  }

  .footer-author {
    grid-area: author;
    text-align: right;

    @media (width < 768px) {
      text-align: center;
    }
  }

  a {
    &,
    &:visited {
      color: #ccc;
    }

    &:hover {
      color: #fff;
    }

    &:active {
      color: #ddd;
    }
  }
}
