/* You can add global styles to this file, and also import other style files */


@charset "UTF-8";
body {
  background: #000000;
  color: #fff;
  font-size: 80%; }

h1, h2 {
  font-weight: 100; }

li {
  list-style: none; }

.topPage h1 {
  line-height: 54px;
  text-align: left;
  font-size: 1.5rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none; }

.topPage .subTitle {
  position: absolute;
  top: 115px;
  left: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none; }

.topPage .my-hero {
  background: url("assets/images/bg-photo.jpg") no-repeat;
  background-position: 0 52px;
  padding-top: 172px;
  padding-bottom: 32px; }
.topPage .my-hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  top: 168px;
  left: 0;
  background: url("assets/images/bg-area.png") repeat-x; }

.topPage .my-main-area {
  overflow: auto;
  height: 100%;
  padding-left: 20px;
  padding-right: 25px; }

.topPage .main-content:after {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 52px;
  left: 0;
  background: black;
  opacity: 0.0;
  transition: opacity 0.3s;
  pointer-events: none; }

.topPage .myNavi {
  background: #000;
  transition: opacity 0.3s; }

.topPage.showing {
  pointer-events: none; }
.topPage.showing .main-content:after {
  opacity: 1.0; }
.topPage.showing .myNavi {
  background: #333; }

.item {
  padding: 2px;
  margin-bottom: 10px;
  font-family: 'Ropa Sans', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
.item .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
.item a, .item a:hover, .item a:visited, .item a:active {
  text-decoration: none; }
.item .meta a, .item .meta a:visited {
  color: #888; }
.item .meta a:hover .title {
  color: #FFF; }
.item .imgContainer {
  width: 100%;
  height: 0;
  padding-top: calc(100% * 200 / 460);
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: border-color 0.5s ease-out;
  transition: border-color 0.5s ease-out; }
.item .imgContainer img {
  position: absolute;
  top: 0;
  max-width: 100%;
  height: auto; }
.item .show .imgContainer {
  border: 1px solid white;
  -webkit-transition: border-color 0.15s ease-out;
  transition: border-color 0.15s ease-out; }
.item div.thumb {
  position: relative;
  display: block;
  cursor: pointer; }
.item .thumb .meta {
  margin-top: 1px; }
.item .thumb .meta:before {
  content: "";
  width: 0%;
  height: 1.0rem;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  transition: all 1.2s cubic-bezier(1, 0, 1, 0.5); }
.item .thumb:hover .meta:before {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s cubic-bezier(0, 0, 0, 1); }
.item .imgRollOver {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  mix-blend-mode: hard-light;
  opacity: 0.0;
  animation-duration: 1.0s;
  animation-name: slowout; }
.item .show .imgRollOver {
  opacity: 0.1;
  animation-duration: 0.5s;
  animation-name: slidein; }

@keyframes slidein {
  0% {
    opacity: 0.0; }
  5% {
    opacity: 0.7; }
  100% {
    opacity: 0.1; } }

@keyframes slowout {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 0.0; } }
.item .title {
  color: #999;
  font-size: 0.8rem;
  position: relative;
  transition: left 0.2s; }
.item .show .title {
  left: 2px;
  color: #FFF; }
.item .date {
  color: #999;
  font-size: 0.7rem;
  position: relative;
  transition: left 0.2s; }
.item .show .date {
  left: 2px;
  color: #FFF; }
.item a.btnLink {
  display: inline-block;
  cursor: pointer;
  color: #666;
  border: 1px solid #333;
  padding: 0 3px;
  font-size: 0.7rem;
  transition: all 1.0s; }
.item a.btnLink:hover {
  color: #000;
  background: #fff;
  border: 1px solid #fff;
  transition: all 0.05s; }

page-detail {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.detailPage .myNavi {
  background: #333; }

.detailPage h1 {
  margin-left: 15px;
  line-height: 54px;
  text-align: left;
  font-size: 1.5rem;
  vertical-align: middle; }
.detailPage h1 span.content-type {
  color: #ccc;
  font-size: 0.9rem;
  background: #555;
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 10px;
  vertical-align: middle;
  font-family: 'Ropa Sans', sans-serif; }

.detailPage .show iframe {
  visibility: visible; }

.detailPage .show .main-content:after {
  opacity: 0.0; }

.detailPage iframe {
  visibility: hidden; }

.detailPage iframe {
  width: 100%;
  height: calc(100% - 52px - 32px);
  position: absolute;
  top: 52px;
  left: 0;
  border: none;
  background: black; }

.detailPage.showing {
  pointer-events: none; }

.myNavi {
  height: 52px;
  position: fixed;
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
  z-index: 10;
  display: flex; }
.myNavi h1 {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }
.myNavi .header-h1-top {
  flex: 1; }
.myNavi .header-detail-h1 {
  flex: 1; }
.myNavi .header-author {
  flex: 1; }

.btnLink {
  margin-right: 0.25rem; }

.btn-back {
  display: inline-flex;
  -webkit-align-items: center;
  /* 縦方向中央揃え（Safari用） */
  align-items: center;
  /* 縦方向中央揃え */
  -webkit-justify-content: center;
  /* 横方向中央揃え（Safari用） */
  justify-content: center;
  /* 横方向中央揃え */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  height: 36px;
  min-width: 36px;
  padding: 0 10px;
  border: 1px solid #444;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  margin-top: 8px;
  transition: all 1.0s; }
.btn-back span.btn-label-prev {
  margin-left: 5px; }
.btn-back span.btn-label-next {
  margin-right: 5px; }
.btn-back, .btn-back:visited {
  color: white;
  text-decoration: none; }
.btn-back:hover {
  background: white;
  color: black;
  border: 1px solid white;
  text-decoration: none;
  transition: all 0.05s; }
.btn-back:active {
  background: #CCC;
  border: 1px solid #CCC;
  text-decoration: none; }

.header-sns {
  position: fixed;
  top: 0;
  right: 10px;
  height: 52px;
  z-index: 30;
  display: inline-flex;
  -webkit-align-items: center;
  /* 縦方向中央揃え（Safari用） */
  align-items: center;
  /* 縦方向中央揃え */
  -webkit-justify-content: center;
  /* 横方向中央揃え（Safari用） */
  justify-content: center;
  /* 横方向中央揃え */ }

.loading {
  margin-left: 20px;
  line-height: 52px;
  color: #999;
  animation: anime1 0.1s infinite; }
.loading i {
  animation: anime-rotate 0.5s infinite; }

@keyframes anime1 {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.7; }
  100% {
    opacity: 1.0; } }

@keyframes anime-rotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

footer {
  color: #999;
  height: 32px;
  width: 100%;
  position: fixed;
  background: #333;
  bottom: 0;
  left: 0;
  text-align: right;
  line-height: 32px;
  padding-right: 15px;
  font-family: 'Ropa Sans', sans-serif;
  z-index: 20; }
footer .created {
  margin-right: 1em; }
footer a, footer a:visited {
  color: #CCC; }
footer a:hover {
  color: #FFF; }
footer a:active {
  color: #DDD; }
